---
layout: default
title: serotonincrash
page-title: About me
home-title: Here's some stuff I've done.
description:
---

{% include header.html %}
<main>
  <div class="wow fadeIn top" data-wow-duration="3.5s" >
    <span class="wow fadeInUp" data-wow-delay="0.2s">{{ page.page-title }}</span>
    <span class="wow fadeInUp" data-wow-delay="0.4s">{{ page.home-title }}</span>
</div>
    
    <ul class="ex-list">
      <li class="fadeInUp animated">
        
        <div class='photoDivider'>
          <h2>Swift Innovators' Summit Alumni</h2>
          <img src='/assets/tim_cook_visit.jpg'>
          
          <span>I made, developed and presented Fractal at the inaugral Swift Innovators' Summit in 2018.
            Fractal was later published on the <a style='text-decoration: underline; color: black;' href="https://apps.apple.com/sg/app/fractal-a-calculator/id1441648055">App Store</a>.<br><br>
          I also got the opportunity to speak and present to Tim Cook - CEO of Apple Inc. (I'm now one of the few people in the world to have beaten him at whack-a-mole, and <em>maybe</em> the only one to have beaten him in AR whack-a-mole.)<br><br>

          Getting to see new batches of earnest students harness the power of app development always warms my heart as an alumni of the Swift Accelerator Programme.
          </span>
        </div>
        <hr class="solid">
        <div class='photoDivider'>
          <h2>Keyboard click-clack</h2>
          <img src='/assets/fuji_65.jpg'>
          <span>I've been invested in the keyboard hobby since 2020 (when the COVID-19 pandemic hit), and every step on this journey to mastery of this hobby has been fun and fulfilling. <br><br>
            Helping others with accurate information and an open mind has always been one of my focuses - both in the hobby and in real life.<br><br>
            I also specialise in assembling luxury keyboard kits for customers, tuning and building them to as close as perfect can get.
          </span>
        </div>
      </li>
    </ul>

    
</main>
{% include footer.html %}
